.bgImg {
  background-image: url(cars.jpeg);
  width: 100%;
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul li {
  font-weight: 480;
  padding: 0;
}

.car {
  background-image: url(cars2.jpeg);
  width: 100%;
  height: 85vh;
  margin: 20px;
  background-repeat: no-repeat;
  background-position: initial;
  background-size: cover;
}

.fuelT {
  font-weight: 200;
  margin-bottom: 8px;
}
