@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("https://img.freepik.com/free-vector/dark-minimal-hexagons-background_79603-1454.jpg?semt=ais_hybrid");
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* Telefon ekranlari uchun */
@media (max-width: 768px) {
  body {
    background-size: auto 100%; /* Telefon uchun tasvir balandlikka moslanadi */
    background-position: center;
  }
}
